.hero{
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #282a36, #2bd8ff70);
    position: relative;
    overflow: hidden;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;

        .textContainer{
            margin-top: 25vh;
            margin-left: 10%;
            width: auto;
            align-items:flex-start;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            h2 {
                font-size: 36px;
                color: #50fa7b;
                letter-spacing: 10px;
            }

            h1{
                font-size: 88px;
                line-height: 88px;

            }

            button{
                
                letter-spacing: 2px;
                padding: 20px;
                border: 2px solid #ff79c6;
                border-radius: 10px;
                color: white;
                background-color: transparent;
                margin-top: 10px;
                margin-right: 50px;
                cursor: pointer;

            img {
                width: 50px;
            }


        }
        }

    
    }
};
