

.screenshot {
    width: 40vw;
    margin-top: 42vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: inline-block;

}

.description {
    width: 40vw;
    margin-top: 44vh;
    margin-right: 5vw;
    font-weight: 100;
    color: whitesmoke;
    display: inline-block;
    text-align: left;
    position: absolute
}

.heading {
    position: absolute;
    margin-top: 360px;
    margin-left: 7vw;
    text-align: left;
    width: 100vw;
    color: whitesmoke;
    font-size: 4vw;
}